<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="indi.tammy.qb.dao.EnumDao">
	
	<select id="findAreaBySubjectId" parameterType="int" resultType="indi.tammy.qb.model.enums.Area" >
		SELECT DISTINCT
			TB_Area.id,
			TB_Area.name
		FROM
			TB_Know
			INNER JOIN TB_KnowArea ON TB_Know.id = TB_KnowArea.knowid
			AND TB_Know.subjectid = #{subject_id}
			INNER JOIN TB_Area ON TB_Area.id = TB_KnowArea.areaid
	</select>
	
	<select id="findSubjectBySubjectId" parameterType="int" resultType="indi.tammy.qb.model.enums.Subject" >
		SELECT 
			*
		FROM
			TB_Subject
		WHERE
			id = #{subject_id}
	</select>
	
	<select id="findStandardBySubjectId" parameterType="int" resultType="indi.tammy.qb.model.enums.Standard" >
		SELECT DISTINCT
			qb_standard.*
		FROM
			TB_Know
			INNER JOIN TB_KnowStandard ON TB_Know.id = TB_KnowStandard.knowid
			AND TB_Know.subjectid = #{subject_id}
			INNER JOIN qb_standard ON qb_standard.id = TB_KnowStandard.standard
	</select>
	
	<select id="findQuestionTypeBySubjectId" parameterType="int" resultType="indi.tammy.qb.model.enums.QuestionType" >
		SELECT
			qb_question_type.*
		FROM
			qb_subject_questionType
			INNER JOIN qb_question_type ON qb_subject_questionType.subject = #{subject_id}
			AND qb_subject_questionType.type = qb_question_type.type
	</select>
	
	
</mapper>