<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="indi.tammy.qb.dao.QuestionDao">

	<insert id="insert" parameterType="indi.tammy.qb.model.Question" useGeneratedKeys="true" keyProperty="id">
		insert into qb_temp_qbank(content, analysis, answer, type, isFull, hardness, submit_time) values(#{content},#{analysis}, #{answer}, #{type}, #{isFull}, #{hardness}, #{submit_time})
	</insert>
	
	<delete id="delete" parameterType="int">
         delete from qb_temp_qbank where id=#{id}
    </delete>
    
    <select id="findBySubject" resultType="indi.tammy.qb.model.Question" >
		SELECT qb_temp_qbank.*, t2.name know_name, qb_question_type.type_name
		FROM
			(
			SELECT TOP ${pEnd}
				t1.question_id,
				t1.subject_name,
				dbo.AggregateString (t1.question_id) name,
				row_number () OVER (ORDER BY t1.question_id) n
			FROM
				(
				SELECT
					qb_temp_knowQuestion.question_id,
					TB_Subject.name subject_name
				FROM
					TB_Know	
					INNER JOIN TB_Subject ON TB_Subject.id = TB_Know.subjectid
					AND TB_Subject.name = #{subject}
					INNER JOIN qb_temp_knowQuestion ON TB_Know.id = qb_temp_knowQuestion.know_id
				) t1
			GROUP BY
				t1.question_id,
				t1.subject_name
			) AS t2, qb_temp_qbank, qb_question_type
		WHERE t2.n >= #{pStart} and t2.question_id=qb_temp_qbank.id and qb_temp_qbank.type=qb_question_type.type
	</select>		
</mapper>