<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="indi.tammy.qb.dao.WordBankDao">
	<insert id="insert" parameterType="indi.tammy.qb.model.WordBank" >
		insert into qb_temp_wordbank(word, type, grade, phonetic, explain) values(#{word}, #{type}, #{grade}, #{phonetic}, #{explain})
	</insert>
	
	<insert id="insertWrongWord" parameterType="indi.tammy.qb.model.WordBank" >
		insert into qb_wrong_word(word_id, wrong_type, wrong_message) values(#{id},#{wrong_type},#{wrong_message})	
	</insert>
		
	<insert id="copyTempToFormal" parameterType="int" >
		INSERT INTO qb_formal_wordbank (
			word,
			type,
			grade,
			phonetic,
			explain
		) SELECT
			word,
			type,
			grade,
			phonetic,
			explain
		FROM
			qb_temp_wordbank
		WHERE
			id = #{id}
	</insert>
	
	<delete id="delete" parameterType="int">
         delete from qb_temp_wordbank where id = #{id}
    </delete>
    
    <delete id="formalDelete" parameterType="int">
         delete from qb_formal_wordbank where id = #{id}
    </delete>
    
    <update id="update" parameterType="indi.tammy.qb.model.WordBank">
 		UPDATE qb_temp_wordbank SET word=#{word}, type=#{type}, grade#{grade}, phonetic=#{phonetic}, explain=#{explain}
        WHERE id=#{id}    
    </update>
    
    <update id="formalUpdate" parameterType="indi.tammy.qb.model.WordBank">
 		UPDATE qb_formal_wordbank SET word=#{word}, type=#{type}, grade#{grade}, phonetic=#{phonetic}, explain=#{explain}
        WHERE id=#{id}    
    </update>
	
	<select id="findByType" resultType="indi.tammy.qb.model.WordBank" >
		SELECT
			TOP ${pEnd} *
		FROM
			(
			SELECT
				qb_temp_wordbank.*, qb_word_type.type_name,
				row_number () OVER (ORDER BY qb_temp_wordbank.id) n,
				COUNT (*) OVER () total
			FROM
				qb_temp_wordbank
				INNER JOIN qb_word_type ON qb_temp_wordbank.type = qb_word_type.type
			WHERE
			qb_temp_wordbank.type = #{type}
			) t1
		WHERE
			t1.n >= #{pStart}
	</select>
	
	<select id="findById" parameterType="int" resultType="indi.tammy.qb.model.WordBank" >
		select * from  qb_temp_wordbank where id = #{id}
	</select>
	
	<select id="formalFindById" parameterType="int" resultType="indi.tammy.qb.model.WordBank" >
		select * from  qb_formal_wordbank where id = #{id}
	</select>
	
	<select id="formalFindByWord" parameterType="String" resultType="indi.tammy.qb.model.WordBank" >
		select * from  qb_formal_wordbank where word=#{word}
	</select>
	
	<select id="formalFindByParam" resultType="indi.tammy.qb.model.WordBank" >
		SELECT
			TOP ${pEnd} *
		FROM
			(
			SELECT
				qb_formal_wordbank.*, qb_word_type.type_name,
				row_number () OVER (ORDER BY qb_formal_wordbank.id) n,
				COUNT (*) OVER () total
			FROM
				qb_formal_wordbank
				INNER JOIN qb_word_type ON qb_formal_wordbank.type = qb_word_type.type
			WHERE
				1 = 1
			<if test = "type > 0">
			AND qb_formal_wordbank.type = #{type}
			</if>
			<if test = "grade > 0">
			AND qb_formal_wordbank.grade = #{grade}
			</if>
			<if test = "key != null">
			AND qb_formal_wordbank.word like '${key}'
			</if>
			) t1
		WHERE
			t1.n >= #{pStart}
	</select>
	
	
</mapper>